<!--
  - #COURSE
-->

<article class="blog" data-page="courses">

  <header>
<h2 class="h2 article-title">Courses</h2>
  </header>

  <section class="blog-posts">

<ul class="blog-posts-list">

  {% for course in site.courses %}
    {% if course.path contains '/index.md' %}
  <li class="blog-post-item">
    <a href="{{ course.url }}">

      <figure class="blog-banner-box">
        <img src="{{ course.image }}" alt="{{ course.title }}" loading="lazy">
      </figure>

      <div class="blog-content">

        <div class="blog-meta">
          <p class="blog-category">Course</p>

          <span class="dot"></span>

          <time datetime="2024-01-01">2024</time>
        </div>

        <h3 class="h3 blog-item-title">{{ course.title }}</h3>

        <p class="blog-text">
          {{ course.description | truncatewords: 15 }}
        </p>

      </div>

    </a>
  </li>
    {% endif %}
  {% endfor %}

</ul>

  </section>

</article>


